body{
    display: block;
    font-family: "宋体";
    font-size: 12px;
    background-color: #f6f4f5;
}

*{
    padding: 0;
    margin: 0 auto;
    max-width: 1240px;
    width: 1240px;
}

div{
    display: block;
}

.logoBarInner{
    margin: auto;
    width: 1000px;
    overflow: hidden;
}


.logo{
    float: left;
    width: 212px;
    height:64px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.ad{
    float: right;
    height: 36px;
    line-height: 36px;
    width: 40%;
    padding: 20px 0px;
}

.ad span{
    float: left;
    color: #1a1a1a;
    font-size: 12px;
    background: url("../img/promiseAd.png") no-repeat left;
    width: 80px;
    padding-left: 49px;
    margin-right: 3px;
}


.w1000{
    width: 1000px;
    margin: auto;
}

.loginForm{
    margin-top: 30px;
    height: 100%;
    width: 800px;
    background: #fff;
    padding: 60px 25px 210px;
}

.loginWrap{
    width: 1000px;
}

.loginTitle{
    width: 122px;
    overflow: hidden;
    line-height: 24px;
    height: 24px;
    margin: 0;
    margin-left: 130px;
    font-size: 20px;
    border-left: 4px solid red;
    padding-left: 10px;
}

.loginInputWrap{
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
}

.loginusername,.loginpassword,.logincodewrap{
    width: 650px;
    height: 80px;
    margin-left: 170px;
    line-height: 80px;
}

.loginusername input,.loginpassword input,.logincodewrap input{
    width: 300px;
    height: 40px;
    color: #666;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.loginusername a,.loginpassword a,.logincodewrap a{
    font-size: 18px;
}

.loginpassword a{
    padding-left: 16px;
}

.logincodewrap input{
    width: 100px;
}

.loginButton{
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.loginButtonInner{
    height: 50px;
    width: 100%;
}
.loginEnter{
    font-size: 18px;
    display: block;
    width: 300px;
    color: white;
    background-color: red;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 6px;
    cursor: pointer;
}

.LoginYzm{
    height: 80px;
    width: 120px;
    line-height: 80px;
    display: inline-block;
    float: left;
}

.LoginYzm img{
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 20px;
}

.logincodewrap{
    width: 210px;
    float: left;
    line-height: 80px;
}




.Loginhuanyihuan{
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;

}
.changeImgCoad{
    float: left;
    height: 80px;
    line-height: 80px;
    width: 50px;
    display: inline-block;
    color: #1c51a1;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
}

.labInpWr{
    width: 100%;
}

.otherLink{
    margin-top: 20px;
    width: 300px;
}

.otherLink a{
    color:#666a6b;
    font-size: 16px;
}

.otherLink a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fogotPas{
    width: 50%;
    float: left;
}
.newUserReg{
    float: right;
    width: 50%;
    text-align: right;
}

.loginRegistFoot{
    overflow: hidden;
}

.footNav{
    padding-top: 20px;
}

.footNav ul{
    overflow: hidden;
    width: 480px;
    margin: auto
}

.footNav ul li{
    float: left;
    height: 20px;
    line-height: 20px;
    width: 120px;
    text-align: center;
    list-style-type: none;
}

.footNav ul li a{
    color: #333333;
    text-decoration: none;

}