@charset "utf-8";
.center{
	width:800px;
	margin:auto;
}

.center-inner{
	width:100%;
	text-align: center;
}

.center_item{
	width:100%;
	margin:20px 0px;
	height:40px;
	line-height:40px;
}
.center_item a{
	display:inline-block;
	width:10%;
	float: left;
}
.center_item input{
	width:50%;
	height:30px;
	
}


.input2{
	width:63%;
	float: left;
	
}

input[type="button" i]{
	width:80px;
}

.center_item_bu2{
	width:100%;
	text-align:center;
}
