@charset "UTF-8";
.topBar{
    background: #f2f2f2;
    position: relative;
    z-index: 10;
}

.w1200 {
    width: 1200px;
    margin: auto;
    height: 40px;
    line-height: 40px;
}

.clearfix {
    zoom: 1;
    display: block;
}

.loginArea {
    float: left;
    overflow: hidden;
    line-height: 40px;
    width: auto;
}
.loginArea b {
    color: #666666;
    float: left;
    width: auto;
}

.loginArea a.login {
    color: #e60000;
    margin-left: 7px;
    width: auto;
}
.loginArea a {
}

.loginArea span {
    color: #d1d1d1;
    margin: 0 9px;
    width: auto;
}

.loginArea a.regist {
    color: #e60000;
    width: auto;
}

.logo{
    float: left;
    width: 212px;
    height:64px;
    margin-left: 10px;
    margin-right: 10px;
}

.topBar .webTool {
    float: right;
    width: auto;
}

.topBar .webTool ul {
    padding-top: 1px;
    width: auto;
}
.clearfix {
    zoom: 1;
    display: block;
}

.topBar .webTool ul li {
    float: left;
    position: relative;
    width: 100px;
    display: inline-block;
    text-align: center;
}
ul, li, ol, dl, dd, dt {
    list-style: none;
}
a{
    text-decoration: none;
}
.topBar .webTool .dt {
    width: auto;
    line-height: 38px;
    display: block;
    height: 29px;
    padding: 0 16px 0 16px;
    border: 1px solid #f2f2f2;
    border-bottom: none;
    position: relative;
    z-index: 10;
}

.topBar .webTool .drop .dt {
    padding: 0 26px 0 14px;
}

.topBar .webTool .dt .icon {
    position: absolute;
    background: url(../img/homeindex.png) no-repeat 0 0;
    width: 8px;
    height: 4px;
    left: 70px;
    top: 17px;
}

.topBar .webTool .dropLayer {
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    position: absolute;
    top: 29px;
    left: 0px;
    border: 1px solid #dadada;
    background: #fff;
    z-index: 9;
    display: none;
    padding-left: 12px;
}

.topBar .webTool .dropLayer a {
    float: left;
    color: #666666;
    line-height: 24px;
    margin-bottom: 6px;
    width: 76px;
}

.bar_user_quit{
	width: auto;
	float: none;
	font-size: 12px;
	color: red;
	cursor:pointer;
}